<!DOCTYPE html>
<html>
<head>
    <title>Safe and Sound</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.3/leaflet.css" />
    	<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.3/leaflet.ie.css" />
    <![endif]-->
   <!-- <script src="http://cdn.leafletjs.com/leaflet-0.4.3/leaflet.js"></script -->

    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'application', :media => 'screen' %>


</head>
<body>

<%= yield %>

</body>
</html>

